# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
logs/
DerivedData/
.derivedData/
.derivedData-*
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcscheme
*.xcresult
*.xcbkptlist
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# Other
*.swp
*.lock
.pickup-pastes/
.build-menubar-fix/
